@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #527ccd;
}

.App {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0 10px;
}
